[submodule "nucleusrv"]
	path = nucleusrv
	url = https://github.com/Muhammadussain/nucleusrv.git
	branch = baby-kyber-integration
[submodule "caravan"]
	path = caravan
	url = https://github.com/Muhammadussain/caravan.git
[submodule "BabyKyberAcceleratorCHISEL"]
	path = BabyKyberAcceleratorCHISEL
	url = https://github.com/Muhammadussain/BabyKyberAcceleratorCHISEL.git
[submodule "XSoC-SDK"]
	path = XSoC-SDK
	url = https://github.com/Muhammadussain/XSoC-SDK.git
[submodule "jigsaw"]
	path = jigsaw
	url = https://github.com/talha-ahmed-1/jigsaw
